<section class="card">
  <div class="card-body">
    <h1>Acerca de </h1>
    <p>
      Este proyecto fue realizado bajo la herramienta SPA React.js<br/>
      Su funcion es de Camara localizadora por medio de un decodificador QR para los laboratorios y aulas de la PUCESE<br/>
      Esta Camara mostrara la informacion del Laboratorio, las materias que ahi se brindan como las carreras que las utilizan<br/>
    </p>
  </div>
</section>
