<div class="jumbotron mt-4">
  <h1 class="display-4">GyA- Proyecto Camara QR!</h1>
  <p class="lead">Proyecto en desarrollo para la materia de Graficacion y Animación, utilizando herramientas de desarollo como Nodejs, Mongodb y Javascript </p>
  <hr class="my-4">
  <p></p>
</div>
